# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# OSX store file
*.DS_Store

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation	
slprj/
